{
    http_port 1080
    https_port 1443
}

SPOTIES_FQDN {

    encode gzip zstd

    @static {
        file
        path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2
    }
    header @static Cache-Control max-age=5184000

    tls {
        dns cloudflare SPOTIES_CLOUDFLARE_TOKEN
        resolvers 1.1.1.1
    }

    route /api/* {
        reverse_proxy 127.0.0.1:8090
    }

    route /_app/* {
        root * /srv/spoties/deployed/frontend
        try_files {path} {path}/ /index.html
        file_server
    }

    route /_* {
        reverse_proxy 127.0.0.1:8090
    }

    route /* {
        root * /srv/spoties/deployed/frontend
        try_files {path} {path}/ /index.html
        file_server
    }
}