spoti.es {

    tls {
        dns cloudflare TOKEN
        resolvers 1.1.1.1
    }

    route /api/* {
        reverse_proxy 127.0.0.1:8090
    }

    route /* {
        root * /srv/spoties/current/frontend
        try_files {path} {path}/ /index.html
        file_server
    }
}