spoti.es {

    tls {
        dns cloudflare TOKEN
        resolvers 1.1.1.1
    }

    handle /api/* {
        reverse_proxy localhost:8090/api/ {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }

    handle /* {
        root * /srv/spoties/current/frontend
        try_files {path} {path}/ /index.html
        file_server
    }
}