[Unit]
Description = pocketbase

[Service]
Type             = simple
User             = root
Group            = root
LimitNOFILE      = 4096
Restart          = always
RestartSec       = 5s
Environment      = "PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
StandardOutput   = append:/srv/spoties/current/backend/std.log
StandardError    = append:/srv/spoties/current/backend/std.log
WorkingDirectory = /srv/spoties/current/backend
ExecStart        = /srv/spoties/current/backend/modd

[Install]
WantedBy = multi-user.target
