{{define "body"}}
    <div class="invitation-text">
        Organizers of event <br><strong>{{.event.title}}</strong><br> have changed your booking details
    </div>

    <div class="divider"></div>

    <div>
        You can review or change your response details on the <a href="{{.meta.appURL}}/event/{{.event.id}}" class="link">event form page</a>
    </div>
            
    <div class="divider"></div>

    <div class="note">
        <strong>Note:</strong> This notification was intended for <strong>{{.user.email}}</strong>.
    </div>

    <div class="divider"></div>

    <div class="error-info">
        Getting a 404 error? Make sure you're signed in as <strong>{{.user.email}}</strong>.
    </div>

    <div class="error-info" style="margin-top: 10px;">
        Button not working? Copy and paste this link into your browser:<br>
        <a href="{{.meta.appURL}}/event/{{.event.id}}" class="link">{{.meta.appURL}}/event/{{.event.id}}</a>
    </div>
{{end}}
